html {
    height: 100%
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    position: relative;
    position: -webkit-sticky;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    font-weight: 400;
    color: #ccc;
    background-color: #15171a
}

@media screen and (prefers-color-scheme: light) {
    body {
        color: #222;
        background-color: #fff
    }
}

i, em {
    font-style: italic
}

sup {
    line-height: .75rem;
    padding-left: 2px;
    padding-right: 2px;
    font-size: .75rem;
    color: #fff;
    border-radius: 2px;
    background: #bb382a
}

sup a {
    text-decoration: none;
    color: #fff !important
}

b, strong {
    font-weight: 600
}

main {
    padding-bottom: 3.5rem
}

main h1 {
    width: 100%;
    margin: 1.5rem 0 0;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: normal;
    text-align: left
}

main h2 {
    width: 100%;
    margin: 0 0 20px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 200%
}

main h3 {
    font-size: 1.25rem
}

main p {
    letter-spacing: .1px;
    line-height: 1.75rem;
    font-size: 18px
}

main ul, main ol {
    font-size: 18px;
    line-height: 1.75rem
}

main li {
    font-size: 18px;
    line-height: 1.75rem
}

main code {
    font-family: jetbrains mono, ubuntu, mono, monospace
}

main figure, main figcaption {
    text-align: center
}

main figcaption, main blockquote {
    border: 0;
    vertical-align: baseline
}

main blockquote {
    margin: 1rem 0;
    padding: 0 1rem;
    font-style: italic;
    font-size: 18px;
    line-height: 1.5rem;
    border-color: #bb382a!important;
    border-left: 4px;
    border-style: solid;
}

main blockquote p {
    letter-spacing: normal;
    font-size: 18px;
    line-height: 1.5rem
}

main blockquote em {
    font-style: normal
}

main figure.code {
    width: max-content;
    margin: 10px;
    padding: 10px
}

main table {
    margin: auto;
    text-align: left;
    font-size: smaller;
    line-height: 1.5rem;
    border-collapse: collapse;
    border-spacing: 4px
}

main table thead {
    color: #ccc;
    background-color: #bb382a
}

pre {
    margin: 0
}

main figure {
    box-sizing: border-box
}

.left {
    float: left
}

.right {
    float: right
}

.fill {
    width: 100% !important
}

.center {
    text-align: center;
}

main .details, main figcaption {
    margin-top: .75rem;
    margin-bottom: 1rem;
    font-size: 14px;
    text-align: left
}

main .details a {
    text-decoration: none;
    color: #bb382a
}

main .details a:hover {
    opacity: .8
}

main .content {
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 0 20px
}

main .post-card strong {
    font-weight: 600
}

main .footnotes p {
    font-size: 16px
}

.navbar {
    margin: auto
}

.navbar .content {
    margin: auto;
    max-width: 800px;
    padding: 20px 20px 0;
    text-align: left
}

.navbar .content hr {
    color: #bb382a;
    height: .15rem;
    border-width: 0;
    background-color: #bb382a;
    opacity: 1
}

.site-name {
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px
}

.site-name a {
    padding: 2px;
    border-radius: 4px
}

.site-name a:link {
    color: currentColor;
    text-decoration: none
}

.site-name a:visited {
    color: currentColor;
    text-decoration: none
}

.site-name a:hover {
    color: #bb382a;
}

.site-name a:active {
    color: #fff;
    background: #bb382a;
}

.post-card img {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 4px
}

.post-title {
    width: 100%;
    margin-top: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left
}

.post-title a {
    text-decoration: none;
    color: currentColor
}

.post-title a:hover {
    color: #bb382a;
    text-decoration: underline
}

.post-title a:focus {
    color: #bb382a;
    text-decoration: underline
}

.post-title a:active {
    color: #bb382a;
    text-decoration: underline
}

.description {
    margin-bottom: 1.5rem;
    font-style: italic;
    font-size: 14px
}

.menu {
    background-color: #bb382a;
}

.menu_list {
    margin: auto;
    max-width: 800px;
    padding: 8px 20px;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 15px;
    font-weight: 500;
    text-align: right
}

.menu a:link {
    color: #fff;
    text-decoration: none
}

.menu a:link:first-child {
    float: left
}

.menu a:link:not(:first-child) {
    padding-left: .75rem
}

.menu a:visited {
    color: #fff;
    text-decoration: none
}

.menu a:hover {
    text-decoration: underline
}

@media (max-width: 770px) {
    .navbar .content .site-name {
        padding: 0 5px
    }
    .navbar .content .description {
        padding: 0 5px
    }
    .content {
        width: 100%;
        box-sizing: border-box
    }
}

.post-content a {
    text-decoration: underline;
    color: currentColor
}

.post-content a:hover {
    color: #bb382a
}

.post-content a:visited {
    color: #808080;
}

.post-content img, video, figure {
    margin: 1rem auto;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box
}

.post-separator {
    opacity: .2
}

.list-posts {
    width: 100%;
    margin-top: 1.5rem;
    text-align: left
}

.list-posts a {
    text-decoration: none;
    color: currentColor
}

.list-posts a:hover {
    color: #bb382a;
    text-decoration: underline
}

.post-date {
    text-transform: uppercase;
    opacity: .8;
}

.post-tags {
    padding: 2px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background: #bb382a;
    box-shadow: 2px 2px 0 #9f3024
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    width: -webkit-fill-available;
    height: 3rem
}

.footer-content {
    font-size: .8rem;
    text-align: center;
    margin: auto;
    max-width: 800px;
    padding: 20px 20px 0;
    color: currentcolor;
    opacity: .7
}

.footer-content p {
    margin: 0;
    padding-bottom: 1rem;
}

.footer-content img, .footer-content svg {
    vertical-align: bottom
}

.footer-content img {
    margin-right: .5rem
}

.footer-content a {
    text-decoration: none;
    color: currentcolor
}

.footer-content a:hover {
    opacity: .7
}